<header>
	<div class="container-fluid visible-menu">
		<div class="pull-left">
			<div class="navbar-header">
				<a class="navbar-brand logo-brand" href="../index.html">
					<div class="logo"><img src="../static/img/logo/logo.png" alt="bmg"></div>
				</a>
			</div>
		</div>
		<div class="pull-right">
			<!--menu-toggle-->
			<div class="menu-toggle">
				<span>Menu</span>
				<div class="icon">
					<i></i>
					<i></i>
					<i></i>
				</div>
			</div><!--./menu-toggle-->
		</div>
	</div>
	<div class="container-fluid hidden-menu" style="display:none;">
		<div class="menu-wrapper">
			<!--menu-toggle-->
			<div class="menu-toggle pull-right">
					<span>Close</span>
					<i class="zmdi zmdi-close"></i>
			</div><!--./menu-toggle-->
			<div class="main-menu">
				<nav>
					<ul class="main-nav">
						<li><a href="#">Home</a></li>
						<li><a href="#">About us</a></li>
						<li><a href="#">What we do</a></li>
						<li><a href="#">Projects</a></li>
						<li><a href="#">News/Blog</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</nav>
				<div class="search-group col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
					<form role="search">
						<div class="form-group">
							<input type="text" class="search-input" placeholder="Tìm kiếm...">
						</div>
						<button type="submit" class="btn btn-search" value=""><i class="zmdi zmdi-search"></i></button>
					</form>
				</div>
			</div>
		</div>
	</div>
</header>

