html, body {
	height: 100%;
}
body {
	font-family: Lato;
	font-size: 12px;
	color: #FFF; 
	background-color: #00649f;  
	font-family: 'Din Light';
}
.btn:hover, .btn:focus {
	color:inherit;
}
.btn:focus {
	outline: none;
}
.logo-brand {
	padding-left: 0px;
}
::-webkit-input-placeholder 
	{ /* WebKit browsers */
	    color:    #fff;
	}
:-moz-placeholder 
	{ /* Mozilla Firefox 4 to 18 */
	   color:    #fff;
	   opacity:  1;
	}
::-moz-placeholder 
	{ /* Mozilla Firefox 19+ */
	   color:    #fff;
	   opacity:  1;
	}
:-ms-input-placeholder 
	{ /* Internet Explorer 10+ */
	   color:    #fff;
	}
.wrap-page {
	position: relative;
	height: 100%;
}
a {
	color: inherit;
}
a:hover , a:focus, a:visited {
	text-decoration: none;
	color:inherit;
	outline: none;
}
ul {
	padding: 0;
	list-style: none;
}
ul li {
	list-style: none;
	padding: 0;
}
header nav li{
	font-size: 14px;
	background-color: transparent;
}
.hidden-menu .menu-toggle  {
	position: absolute;
	right: 15px;
	top:15px;
	padding-top: 0px;
}
.menu-toggle { 
	cursor: pointer;
}
.menu-toggle > span {
	vertical-align: top;
	padding: 5px;
}
.menu-wrapper,.menu-toggle {
	padding: 15px;
	padding-right: 0px;
}
.hidden-menu {
	height: 40vh;
	background-color: rgba(0,100,159,0.5);
}
.main-menu > nav {
	display: table;
	margin: auto;
	margin-top: 30px;
}
.inline {
	display: inline-block;
}
.main-nav li {
	text-transform: uppercase;
	font-weight: bold;
	padding: 3px;
	font-size: 16px;
}
.social {
	padding: 15px 0px;
}
.social > span{
	padding-right:10px;
}
.logo img {
	height: 55px;
	width: auto;
}
.navbar-header {
	height: 85px;
}
.icon {
	display: inline-block;
}
.zmdi-close{
	font-size: 16px;
	padding: 2px;
}
.icon i{
	display: block;
	height: 2px;
	margin: 3px 0px;
	width: 20px;
	background-color: #FFF;
}
.search-input{
	display: block;
	width: 100%;
	height: 23px;
	padding: 6px 5px;
	line-height: 1.42857143;
	background: transparent;
	border: 0;
	border-bottom: 1px solid #FFF;
	color: #fff;
}
.search-input:focus {
	outline: none;
}
.search-group {
	position: relative;
}
.btn-search{
	position: absolute;
	right: 15px;
	top: 0px;
	height: 25px;
	padding: 3px 5px;
	font-size: 14px;
	line-height: 1.42857143;
	background: transparent;
	border: 0;
	border-bottom: 1px solid transparent;
	color: #fff;
}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #FFF;
	color:#6C6C6C;
	font-size: 13px;
}
footer .footer-nav a:hover, footer .footer-nav a:focus {
	background-color: inherit;
	color: inherit;
}
.footer-nav {
	padding: 15px 0px;
	font-size: 13px;
}
footer .footer-nav li > a{
	padding-top: 0px;
	padding-bottom: 0px;
}
footer li:not(:first-child) {
    border-left: 1px solid #6C6C6C;
}
@media (max-width: 767px) {
	.main-nav li ,.search-input {
		font-size: 9px;
	}
}
@media (min-width:768px){
	.logo img {
		height: 65px;
		width: auto;
	}
	.navbar-header {
		height: 95px;
	}
}
@media (min-width:992px){
	.logo img {
		height: 75px;
		width: auto;
	}
	.navbar-header {
		height: 105px;
	}
}
@media (min-width:1200px){
}