 @font-face {
  font-family: 'Din Light';
  src: url('../fonts/SFUDinLight.TTF');      
  font-style:   normal;
  font-weight:  400;
}
@font-face {
  font-family: 'Din Mittelschrift';
  src: url('../fonts/SFUDinMittelschrift.TTF');      
  font-style:   normal;
  font-weight:  400;
}