<!DOCTYPE html>
<html {% block html_attribs %}lang="vi"{% endblock %}>
<head>
	{% block meta %}
		<meta charset="utf-8">
		<!-- Behavioral Meta Data -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<!-- Core Meta Data -->
		<meta name="author" content="doda">
		<meta name="description" content="">
		<meta name="keywords" content="">
	{% endblock %}

	<title>{% block title %}Doda Co., Ltd{% endblock %}</title>
	<!-- Humans -->
	<link rel="author" href="http://doda100.com">
	<!-- Styles -->
	{% block style %}        
    {% endblock %}
	<!-- Favicon -->
	{% block favicon %}		
    	<link rel="icon" href="../static/img/favicon/favicon.ico">
    {% endblock %}	
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="">
	<div class="wrap-page">
		{% block header %}{% endblock %}
		{% block content %}{% endblock %}
		{% block footer %}{% endblock %}
		{% block script%}{% endblock %}
	</div>	
</body>
</html>
