{% extends "_layout-base.html" %}

{% block style %}
	<link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/material-iconic-font.css" rel="stylesheet">
	<link href="/static/css/fonts.css" rel="stylesheet">
    <link href="/static/css/doda-style.css" rel="stylesheet">
{% endblock %}   

{% block header %}  
    <!-- header-->
    {% include "./header/header.html" %}
    <!-- ./header-->
{% endblock %}
{% block footer %}  
    <!--footer-->
    {% include "./footer/footer.html" %}
    <!--./footer-->
{% endblock %}
{% block script%}
	<script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jquery.easing.min.js"></script>
    <script src="/static/js/doda.js"></script>
{% endblock %}