<footer>
	<div class="container-fluid">
		<div class="col-sm-8">
			<div class="hidden-xs hidden-sm">
				<ul class="nav navbar-nav footer-nav">
					<li><a href="#">Sitemap</a></li>
					<li><a href="#">Privacy &amp; Cookies Policy</a></li>				
					<li><a href="#">Back to top</a></li>
				</ul>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="social pull-right">
				<span>Stay connected</span>
				<img src="../static/img/social-share/1.png" alt="">
			</div>
		</div>
	</div>
</footer>
